/*********** COLOR SCHEME ***********/

/* http://colorschemedesigner.com/#0X21Tddp9cOcO */

body, html {
  height:100%;
  margin:0;
  padding:0;
  font-family: 'Source Code Pro';
  /*background-color:rgba(246,247,189,.4);*/
}

/************ SIDEBAR ***************/

.sidebar {
  position:fixed;
  width:20%;
  height:100%;
  /*border:1px dotted red;*/
  float:left;
  padding:30px 20px;
  background-color: #D3BB8C;
}

.sidebar h1 {
  font-size:1.5em;
  padding:20px 20px;
}

.sidebar h2 {
  font-size:1em;
  padding:0px 20px;
}

.sidebar ul {
  list-style: none;
  padding: 20px 20px;
}

.sidebar ul li {
  padding-top: 15px;
}

/************ EMPTY HEADER **********/

.emptyheader {
  display:inline-block;
  margin-left:25%;
  height:30px;
  width:70%;
  position:fixed;
  padding:10px 20px;
  /*Opacity gradient*/
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 80%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 80%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 80%);
  background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 80%);
  /*border:1px dotted blue;*/
}


/************ MAIN DIV **************/

.main {
  display:inline-block;
  margin-left:25%;
  width:70%;
  height:100%;
  /*border:1px dotted green;*/
  padding:40px 20px 80px 20px;
}

.main h1 {
  font-size:1.5em;
  margin:20px;
  padding:10px;
}

.main h3 {
  font-style:italic;
}

.main p {
  font-size: 1em;
  line-height:120%;
  text-align:justify;
  padding:0px 30px;
}

.main img {
  max-width:80%;
  padding:0px 30px;
}

/********** LINK STYLING ************/

a {
  text-decoration: none;
  color: #6E7D9E;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

a:hover {
  text-decoration:underline;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}


/************************/