body {
  padding:0 20px 0 20px;
  font-family: 'Alike', serif;
  background-color:rgba(246,247,189,.4);
}

.navbar {
  width:200px;
  margin-left:75%;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display:inline-block;
  padding:0 15px;
}

.navbar li:first-child {
  border-right:1px solid black;
}

.bio-container {
  width:900px;
  margin:auto;
  padding-bottom:20px;
  border-bottom:1px dashed black;
}

.portrait {
  display:block;
  background-image:url("images/portrait.png");
  height:300px;
  width:300px;
  border-radius:10px;
  margin:auto;
  -moz-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  -webkit-transition: border 0.3s linear;
  transition: border 0.3s linear;
}

.main {
  display:block;
  width:800px;
  vertical-align: top;
  margin:auto;
  text-align:center;
}

.main h1 {
  margin-top:30px;
}

.main h3 {
  font-style:italic;
}

.main p {
  font-size: 1.2em;
  line-height:160%;
  text-align:justify;
}

a {
  text-decoration: none;
  color:black;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

a:hover {
  color:#5F9B7F;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.visible-link {
  color: #84B39D;
}

.projects {
  width:900px;
  margin:40px auto;
}

.projects-header {
  width:200px;
  margin:auto;
}

ul {
  padding:0;

}

.projects li {
  list-style:none;
  display:inline-block;
}

.projects li img {
  border-radius:5px;
  opacity:0.6;
}

.projects li img:hover {
  opacity:1.0;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.projects li div {
  margin-right:70px;
  font-size:1em;
  text-align:center;
  width:250px;
}

.projects li:last-child div {
  margin-right:0;
}

.icons {
  display:block;
  width:440px;
  margin:auto;
  margin-top:30px;
  margin-bottom:60px;
}

i {
  font-size:3em;
  margin:0 20px 0 20px;
}


.resume {
  width:900px;
  margin: 80px auto;
  line-height:150%;
  font-size: 1.2em;
}

.resume ul {
  list-style: none;
}

.resume .title {
  font-style:italic;
}

.resume h3 {
  font-size: 1.5em;
}

.resume span {
  display:inline-block;
  float:right;
}

.letter {
  width:500px;
  margin:50px auto;
}

@media screen and (max-width: 500px){
  .navbar {
  margin-left:50%;
  }

  .bio-container {
    width:400px;
    padding:10px;
    margin: 20px auto;
  }

  .main {
    width:300px;
  }

  .projects-header{
    width:200px;
    margin:20px;
    text-align:center;
  }

  .projects li div {
    display:inline-block;
    width:450px;
    margin:20px auto;
  }

  .resume {
  width:400px;
  }